@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Login Form POS";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/icon.png" />
    <link href="~/assets/styles/theme.css" rel="stylesheet" />
    <link href="~/assets/styles/style.css" rel="stylesheet" />
    <link href="~/assets/styles/helpers/login.css" rel="stylesheet" />


    <script type="text/javascript" src="~/assets/js/jquery-2.0.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            min-width: 350px;
        }

        .bblue {
            background: #fff !important;
        }

        .login-page .page-back {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-size: cover !important;
            background-position: center !important;
            background-image: url("../assets/images/login-bgs/3.jpg") !important;
        }

        .contents {
            margin: 16px;
            border-radius: 6px;
            padding: 32px 16px;
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .login-content, .login-page .login-form-links {
            margin-top: 20px;
            border-radius: 6px;
        }
    </style>

</head>

<body class="login-page">
    <noscript>
        <div class="global-site-notice noscript">
            <div class="notice-inner">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong><br>You must have JavaScript enabled in
                    your browser to utilize the functionality of this website.
                </p>
            </div>
        </div>
    </noscript>
    <div class="page-back">
        <div class="contents">
            <div class="text-center">
                <img src="~/assets/images/logo3.png" alt="My Shop" style="margin-bottom:10px;" />
            </div>

            <div id="login">
                <div class="container">

                    <div class="login-form-div">
                        <div class="login-content">
                            <form action="#" class="login" data-toggle="validator" method="post" accept-charset="utf-8">
                                <input type="hidden" name="token" value="36f82a7c95ecda05771e72b82b9b690a" />
                                <div class="div-title col-sm-12">
                                    <h3 class="text-primary">Please login to your account.</h3>
                                </div>
                                <div class="col-sm-12">
                                    <div class="textbox-wrap form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" value="" required="required" class="form-control" name="identity"
                                                   placeholder="Username" />
                                        </div>
                                    </div>
                                    <div class="textbox-wrap form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                            <input type="password" value="" required="required" class="form-control " name="password"
                                                   placeholder="Password" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-action col-sm-12">
                                    <div class="checkbox pull-left">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" name="remember" value="1" id="remember" />
                                        </div>
                                        <span class="checkbox-text pull-left"><label for="remember">Remember me</label></span>
                                    </div>
                                    <button type="submit" class="btn btn-success pull-right">Login &nbsp; <i class="fa fa-sign-in"></i></button>
                                </div>
                            </form>                            <div class="clearfix"></div>
                        </div>
                        <div class="login-form-links link2">
                            <h4 class="text-danger">Forgot your password?</h4>
                            <span>Don't worry!</span>
                            <a href="#forgot_password" class="text-danger forgot_password_link">click here</a>
                            <span>to reset</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="forgot_password" style="display: none;">
                <div class=" container">
                    <div class="login-form-div">
                        <div class="login-content">
                            <div class="div-title col-sm-12">
                                <h3 class="text-primary">Forgot Password</h3>
                            </div>
                            <form action="#" class="login" data-toggle="validator" method="post" accept-charset="utf-8">
                                <input type="hidden" name="token" value="36f82a7c95ecda05771e72b82b9b690a" />
                                <div class="col-sm-12">
                                    <p>
                                        Please type email address to get reset instructions
                                    </p>
                                    <div class="textbox-wrap form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="fa fa-envelope"></i></span>
                                            <input type="email" name="forgot_email" class="form-control "
                                                   placeholder="Email Address" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-action">
                                        <a class="btn btn-success pull-left login_link" href="#login">
                                            <i class="fa fa-chevron-left"></i> Back
                                        </a>
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Submit &nbsp;&nbsp; <i class="fa fa-envelope"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.cookie.js"></script>
    <script src="~/assets/js/login.js"></script>
    <script type="text/javascript">
$(document).ready(function () {
            localStorage.clear();
            var hash = window.location.hash;
            if (hash && hash != '') {
                $("#login").hide();
                $(hash).show();
            }
        });</script>
</body>
</html>

